<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookStoreLIB.Properties.Settings.connectionString"
            connectionString="Data Source=tfs.cspc1.uwindsor.ca;Initial Catalog=BestBooksDB18;Persist Security Info=True;User ID=BestBooksDB18;Password=BestBooksDB18"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>